<!DOCTYPE html>
<html>
  <head>
    <title>MerryMoney</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://d2ue93q3u507c2.cloudfront.net/assets/robinhood/images/favicon.ico" rel="shortcut icon">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
